---
---

.white-color {
    fill: white;
    padding-right: 5px;
    padding-left: 5px;
    width: 50px;
    height: 50px;
}

.frame {
  display: block;
  width: 100vw;
  height: 100vh;
  max-width: 100%;
  margin: 0;
  padding: 0;
  border: 0 none;
  box-sizing: border-box;
}

.banner {
    height: 100px; /* Adjust the height as needed */
    padding: 5px 0; /* Adjust padding if needed */
    overflow: hidden; /* Optional: Ensures content fits within the reduced height */
}

.vid {
  display: block;
  width: 100vw;
  height: 50vh;
  max-width: 100%;
  margin: 0;
  padding: 0;
  border: 0 none;
  box-sizing: border-box;
}

.footer {
  background-color: #76159A;
  padding: 2px;
  text-align: center;
}

.responsive {
  max-width: 90%;
  height: auto;
}
/* Create three equal columns that floats next to each other */
.column {
  float: left;
  width: 33.33%;
  padding: 10px;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Responsive layout - when the screen is less than 600px wide, make the three columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .column {
    width: 100%;
  }
}

.maintop {
  max-width: 55%;
  height: auto;
}

.maintopmarina {
  max-width: 30%;
  height: auto;
}

.flake {
  max-width: 20%;
  height: auto;
}

$header-bg-color: #1FA2FF !default;
$header-bg-color-secondary: #12D8FA !default;
$section-headings-color: #156D9A !default;

$section-headings-color: #159957 !default;
$body-text-color: #606c71 !default;
$body-link-color: #76159A !default;
$blockquote-text-color: #819198 !default;

@import 'jekyll-theme-cayman';
